[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python train_model.py"]

[start]
cmd = "gunicorn iris:app --bind 0.0.0.0:$PORT"
